{% extends 'admin/admin.html.twig' %}

{% block title %}Modifier la catégorie: {{ category.name }}{% endblock %}

{% block body %}
    <h1>Modifier la catégorie: {{ category.name }}</h1>

    {% set imagePath = vich_uploader_asset(category, 'thumbnailFile') %}
    {% if imagePath %}
        <img src="{{ imagePath | imagine_filter('thumb_200x200') }}" alt="Image de {{ category.name }}" class="img-thumbnail"">
    {% else %}
        <img src="{{ asset('images/default-recipe.webp') | imagine_filter('thumb_200x200') }}" alt="Image par défaut" class="img-thumbnail" style="width: 200px; height: 200px;">
    {% endif %}

    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
